/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30vh;
}

.middle-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.image-one,
.image-three {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons {
  margin-top: 10px; /* Adjust margin-top to move buttons closer to text */
  display: flex;
  justify-content: center;
}

.reservation-button {
  margin: 5px 4px; /* Adjust margin between buttons */
  padding: 13px 27px;
  font-size: 18px;
  border: none;
  background-color: #073ca6;
  color: white;
  cursor: pointer;
}

.reservation-button:hover {
  background-color: #0056b3;
}

.welcome-text {
  font-family: 'Copperplate', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #333;
}

.reservation-prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.question-text {
  font-family: 'Copperplate', sans-serif;
  font-size: 40px; /* Adjust font size */
  font-weight: lighter; /* Reduce font weight */
  color: #333;
}
