.find-restaurant-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Copperplate', sans-serif;
    position: relative; /* Ensure relative positioning for absolute positioning inside */
  }
  
  .image-wrapper {
    position: relative; /* Ensure relative positioning for absolute positioning inside */
  }
  
  .dropdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 60px; /* Increase padding to make the container larger */
    width: 80%; /* Increase width of the container */
    max-width: 600px; /* Set a maximum width for the container */
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .restaurant-form {
    /* Add styles for the form */
  }
